<div class="container-fluid" style="background-color: rgb(39,170,225); color:white; font-family:'Oswald', sans-serif;">
  <div class="jumbotron" style="background-color: rgb(39,170,225);">
    <h1>WELCOME TO GOALDEN</h1>
    <br>
    <div class="row">

      <div class="col-sm-6">
        <img class="logo" src="images/goalden.png" width="400px" alt="logo">
        <p></p><br>

      </div>
   
   
 <form class="clearfix mb-4">
        <div class="form-group">
          <label for="example-text">User Name</label>
          <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter your username">
        </div>
        <div class="form-group">
          <label for="example-description">Enter your Password</label>
          <input type="password" class="form-control" id="example-description" aria-describedby="example-description" placeholder="enter password"></textarea>
        </div>
        <button id="submit" class="btn btn-primary float-right">Submit</button>
         <a href="/login" class="btn btn-primary">Login</a>
      </form>


      <script src="/js/index.js"></script>